flickr8k/
Image_Caption_Generator_reference.ipynb
icgen/
photo.jpeg
working/
.ipynb_checkpoints/
#server/mlmodel/saved_weights/
#server/mlmodel/saved_weights/best_model_resnet_20.h5
#server/mlmodel/saved_weights/tokenizer.pickle
.DS_Store
server/
